@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    position: relative; /* Asegura que los elementos se apilen correctamente */
}

/* Asegúrate de que el HTML y body ocupen todo el espacio disponible */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Necesario para que el fondo cubra toda la pantalla */
}

/* Estilos del fondo */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  /* Asegura que cubra toda la pantalla */
    background-image: url('https://thumbs.dreamstime.com/b/ejemplo-incons%C3%BAtil-con-los-iconos-simples-en-el-tema-de-las-matem%C3%A1ticas-y-del-aprendizaje-esquema-brillante-un-fondo-azul-113046946.jpg'); /* Ruta de la imagen */
    background-size: cover;  /* Asegura que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed;  /* Mantiene la imagen fija al hacer scroll */
    z-index: -1;  /* Coloca el fondo detrás del contenido */
    filter: blur(8px);  /* Aplica un desenfoque a la imagen */
    opacity: 0.6;  /* Ajusta la opacidad para el efecto de vidrio */
}


h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

/* Estilo global para enlaces */
a {
    color: #007bff; /* Color azul típico de un link */
    text-decoration: none; /* Quitar subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayar el enlace cuando se pase el ratón sobre él */
    color: #0056b3; /* Un tono más oscuro al pasar el ratón */
}

button {
    border-radius: 20px;
    border: 1px solid #005a96;
    background-color: #005a96;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #00ccff;
    background: -webkit-linear-gradient(to right, #00ccff, #005a96);
    background: linear-gradient(to right, #00d9ff, #004b88);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: #00ffff;
}

footer a {
    color: #00ffff;
    text-decoration: none;
}

/* Estilo para el botón circular */
.social-container .social.google {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Borde transparente (opcional) */
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

/* Estilo para la imagen dentro del botón */
.social-container .social.google img {
    width: 100%;         /* Hace que la imagen ocupe todo el contenedor */
    height: 100%;        /* Hace que la imagen ocupe todo el contenedor */
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}

/* Estilo para el texto */
.form-container.sign-in-container p {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}

.password-container {
    position: relative;
    width: 100%;
}

input[type="password"] {
    width: 100%;
    padding-right: 40px;  /* Espacio para el icono del ojo */
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px; /* Tamaño ajustado del icono */
    height: 20px; /* Tamaño ajustado del icono */
}

label {
    display: block; /* Asegurarse de que el label no se deforme */
    margin-bottom: 5px;
}
